.main {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(12px + 2vmin);
  font-weight: bold;
}

#card-top{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}